<a href="https://colab.research.google.com/github/pkmariya/Python/blob/master/df_links.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/003/716/original/sales_dataset.csv?1651727754')

In [ ]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [ ]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
df_new = df.copy()

In [ ]:
df_new.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
highest_price = df_new['Price'].max()

In [ ]:
highest_price

38970.0

In [ ]:
df_new['Sale_Price'] = df_new['Quantity'] * df_new['Price']

In [ ]:
high_sp = df_new['Sale_Price'].max()

In [ ]:
# df_new.groupby([‘Invoice’,‘Customer ID’]).agg({‘Sale_Price’:‘max’}).sort_values(by = [‘Sale_Price’], ascending = False)
df_new.groupby(['Invoice', 'Customer ID']).agg({'Sale_Price':'max'}).sort_values(by = ['Sale_Price'], ascending = False)

                     Sale_Price
Invoice Customer ID
581483  16446.0       168469.60
541431  12346.0        77183.60
556444  15098.0        38970.00
530715  15838.0        15818.40
502263  12918.0        10953.50
...                         ...
C502262 12918.0       -10953.50
C512770 17399.0       -25111.09
C556445 15098.0       -38970.00
C541433 12346.0       -77183.60
C581484 16446.0      -168469.60

[44876 rows x 1 columns]

In [ ]:
df1 = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/003/715/original/sales_dataset.csv?1651726697')

In [ ]:
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
df1['Quantity'].max()

80995

In [ ]:
df1[df1['Quantity'] > 10000].sort_values('Quantity', ascending=False)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1065882,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom
587080,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom
90857,497946,37410,BLACK AND WHITE PAISLEY FLOWER MUG,19152,2010-02-15 11:57:00,0.10,13902.0,Denmark
127166,501534,21099,SET/6 STRAWBERRY PAPER CUPS,12960,2010-03-17 13:09:00,0.10,13902.0,Denmark
127168,501534,21091,SET/6 WOODLAND PAPER PLATES,12960,2010-03-17 13:09:00,0.10,13902.0,Denmark
127169,501534,21085,SET/6 WOODLAND PAPER CUPS,12744,2010-03-17 13:09:00,0.10,13902.0,Denmark
1027583,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256.0,United Kingdom
127167,501534,21092,SET/6 STRAWBERRY PAPER PLATES,12480,2010-03-17 13:09:00,0.10,13902.0,Denmark
192197,507637,84016,FLAG OF ST GEORGE CAR FLAG,10200,2010-05-10 14:55:00,0.00,NaN,United Kingdom

In [ ]:
mod=df1.groupby('Description').sum()
mod[mod['Quantity']==max(mod['Quantity'])]

                                   Quantity   Price  Customer ID
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS    108545  298.18   14628933.0

In [ ]:
df1.groupby('Description').agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)

                                    Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     108545
WHITE HANGING HEART T-LIGHT HOLDER     93050
ASSORTED COLOUR BIRD ORNAMENT          81306
JUMBO BAG RED RETROSPOT                78090
BROCADE RING PURSE                     70700
...                                      ...
Unsaleable, destroyed.                -15644
missing                               -16467
printing smudges/thrown away          -19200
given away                            -20000
?                                     -26757

[5698 rows x 1 columns]

In [ ]:
stock_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/003/717/original/sales_dataset.csv?1651728217')

In [ ]:
stock_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
stock_df['StockCode'].nunique()

5305

In [ ]:
req=df1[df1['Country']=='United Kingdom']
req['StockCode'].nunique()

5303

In [ ]:
data = {'Row1': ['a', 'b', 'c'], 
        'Row2': [1, 2, 3]}
test_df = pd.DataFrame(data)
test_df

  Row1  Row2
0    a     1
1    b     2
2    c     3

In [ ]:
imported = [1, 0, 0]
test_df['imported'] = imported
test_df

  Row1  Row2  imported
0    a     1         1
1    b     2         0
2    c     3         0

In [ ]:
test_df.drop(['imported'], axis=1)

  Row1  Row2  imported2
0    a     1          1
1    b     2          0
2    c     3          0

In [ ]:
test_df.drop(['imported2'], axis=1)

  Row1  Row2  imported
0    a     1         1
1    b     2         0
2    c     3         0

In [ ]:
test_df

  Row1  Row2  imported2  imported
0    a     1          1         1
1    b     2          0         0
2    c     3          0         0

In [ ]:
test_df.drop(['imported2'], axis=1)

  Row1  Row2  imported
0    a     1         1
1    b     2         0
2    c     3         0

In [ ]:
test_df.drop(['imported'], axis=1)

  Row1  Row2  imported2
0    a     1          1
1    b     2          0
2    c     3          0

In [ ]:
test_df

  Row1  Row2  imported2  imported
0    a     1          1         1
1    b     2          0         0
2    c     3          0         0

In [ ]:
del test_df

In [ ]:
test_df

NameError: ignored

In [ ]:
test_df = pd.DataFrame(data)
test_df

  Row1  Row2
0    a     1
1    b     2
2    c     3

In [ ]:
test_df.insert(2, "imported2", imported)
test_df

  Row1  Row2  imported2
0    a     1          1
1    b     2          0
2    c     3          0

In [ ]:
test_df.insert(2, "imported3", imported)
test_df

  Row1  Row2  imported3  imported2
0    a     1          1          1
1    b     2          0          0
2    c     3          0          0

In [ ]:
# df10 = pd.DataFrame([[1, "Ram", "IT"], [2, "Shyam", "Ops"]], columns = ["emp_id", "name", "dept"])
df11 = pd.DataFrame([[1, "Ram", "IT"]], columns = ["emp_id", "name", "dept"])
df11

   emp_id name dept
0       1  Ram   IT

In [ ]:
stock_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [ ]:
stock_df['Country']

0          United Kingdom
1          United Kingdom
2          United Kingdom
3          United Kingdom
4          United Kingdom
                ...
1067366            France
1067367            France
1067368            France
1067369            France
1067370            France
Name: Country, Length: 1067371, dtype: object

In [ ]:
stock_df.loc[:,'Country']

0          United Kingdom
1          United Kingdom
2          United Kingdom
3          United Kingdom
4          United Kingdom
                ...
1067366            France
1067367            France
1067368            France
1067369            France
1067370            France
Name: Country, Length: 1067371, dtype: object

In [40]:
model_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/007/777/original/mtcars.csv?1658480283')

In [41]:
model_df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
model_df.loc[1:4, ['model', 'hp', 'drat']]

               model   hp  drat
1      Mazda RX4 Wag  110  3.90
2         Datsun 710   93  3.85
3     Hornet 4 Drive  110  3.08
4  Hornet Sportabout  175  3.15

In [3]:
name_data = {'name':["Ram","Shyam","Mukesh","Suresh"],'age':[10,18,60,50]}

In [35]:
a = pd.DataFrame(name_data)
a

     name  age
0     Ram   10
1   Shyam   18
2  Mukesh   60
3  Suresh   50

In [36]:
a['age']

0    10
1    18
2    60
3    50
Name: age, dtype: int64

In [37]:
change=lambda x: 'senior' if x>50 else 'adult' if x>=18 else 'kid'
a['age']=a.age.apply(change)
pd.DataFrame(a,columns=['name','age'])
a

     name     age
0     Ram     kid
1   Shyam   adult
2  Mukesh  senior
3  Suresh   adult