<a href="https://colab.research.google.com/github/pkmariya/Python/blob/master/MariyaPandas01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas stands for Panel Data and is the core library for data manipulation and data analysis

Pandas consists of single and multi-dimensional data structures for data manipulation.

Pandas Data Structures:
Single dimensional data structure is known as - Series Object and
Multi-dimensional data strucutre is known as - Dataframe

In [ ]:
import pandas as pd

In [ ]:
# Series Object is one-dimensional labeled array
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# changing the default labels to custom labels
s1 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
# Creating a Series object using Dictionary 
s2 = pd.Series({'a': 10, 'b': 20, 'c': 30})
s2

a    10
b    20
c    30
dtype: int64

In [12]:
# Extracting individual elements from the Series
s3 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s3[5]

6

In [13]:
# Print first 5 elements
s3[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
# Print first 5 elements
s3[:-5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# Print last 5 elements
s3[-5:]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
# Extracting a particular sequence
s3[2:5]

2    3
3    4
4    5
dtype: int64

# Basic Math Operations on Series Objects

In [22]:
# adding 5 to all s3 elements
s3 + 5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
9    15
dtype: int64

In [23]:
# adding two Series Objects
s4 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])
s5 = pd.Series([9, 8, 7, 6, 5, 4, 3, 2, 1])
s4 + s5

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64

# Data Frames is a two dimensional data of Rows and Columns

In [24]:
d1 = {"Name":["Mariya", "Preeths", "Philo", "Kul"], "Marks":[89, 91, 75, 82]}
d1

{'Marks': [89, 91, 75, 82], 'Name': ['Mariya', 'Preeths', 'Philo', 'Kul']}

In [26]:
df1 = pd.DataFrame(d1)
df1

      Name  Marks
0   Mariya     89
1  Preeths     91
2    Philo     75
3      Kul     82

# Built-in DataFrame Functions - head(), tail(), shape(), describe()

In [40]:
iris = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [41]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [42]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [43]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [44]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [46]:
iris.shape

(150, 5)

In [50]:
# Extract first 3 Rows and 2 Columns
iris.iloc[0:3, 0:2]

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [51]:
# another way to extract first 3 Rows and 2 Columns
iris.iloc[:3, :2]

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [52]:
# Extract all Rows, but only first Column
iris.iloc[:, :1]

     sepal.length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [53]:
# Extract all Columns, but only 1 Row
iris.iloc[:1, :]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa

In [55]:
# Extracting some in between Rows with all Columns
iris.iloc[10:31, :]

    sepal.length  sepal.width  petal.length  petal.width variety
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa

# to Extract the values list by Column Names instead of Indexes, .loc Method is used

In [59]:
iris.loc[10:30, ('petal.length', 'petal.width')]

    petal.length  petal.width
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1
13           1.1          0.1
14           1.2          0.2
15           1.5          0.4
16           1.3          0.4
17           1.4          0.3
18           1.7          0.3
19           1.5          0.3
20           1.7          0.2
21           1.5          0.4
22           1.0          0.2
23           1.7          0.5
24           1.9          0.2
25           1.6          0.2
26           1.6          0.4
27           1.5          0.2
28           1.4          0.2
29           1.6          0.2
30           1.6          0.2

In [60]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

# to drop a particular Row (axis=0) OR Column (axis=1) use drop method

In [61]:
iris.drop('variety', axis=1)

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [63]:
# to drop particular Rows
iris.drop([1, 2, 3], axis=0)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[147 rows x 5 columns]

# Some Pandas Functions - min, max, mean, median & std

In [64]:
iris.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [65]:
iris.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [68]:
iris.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [69]:
iris.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [70]:
iris.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64